@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto/Thin/Roboto-Thin.woff2?v=2.137") format("woff2"), url("../../fonts/Roboto/Thin/Roboto-Thin.woff?v=2.137") format("woff");
  font-weight: 100;
  font-style: normal;
}

/* END Thin */

@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto/Light/Roboto-Light.woff2?v=2.137") format("woff2"), url("../../fonts/Roboto/Light/Roboto-Light.woff?v=2.137") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* END Light */

@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto/Regular/Roboto-Regular.woff2?v=2.137") format("woff2"), url("../../fonts/Roboto/Regular/Roboto-Regular.woff?v=2.137") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto/Regular/Roboto-Regular.woff2?v=2.137") format("woff2"), url("../../fonts/Roboto/Regular/Roboto-Regular.woff?v=2.137") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* END Regular */

@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto/Medium/Roboto-Medium.woff2?v=2.137") format("woff2"), url("../../fonts/Roboto/Medium/Roboto-Medium.woff?v=2.137") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* END Medium */

@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto/Bold/Roboto-Bold.woff2?v=2.137") format("woff2"), url("../../fonts/Roboto/Bold/Roboto-Bold.woff?v=2.137") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto/Bold/Roboto-Bold.woff2?v=2.137") format("woff2"), url("../../fonts/Roboto/Bold/Roboto-Bold.woff?v=2.137") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* END Bold */

/* BEGIN Black */
@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto/Black/Roboto-Black.woff2?v=2.137") format("woff2"), url("../../fonts/Roboto/Black/Roboto-Black.woff?v=2.137") format("woff");
  font-weight: 900;
  font-style: normal;
}

/* END Black */


